@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .active__style {
    @apply bg-blue-500 shadow-blue-400 shadow-md text-white;
  }
  .buttonHover {
    @apply bg-blue-100 text-blue-500;
  }
  .th__style {
    @apply normal-case py-4 px-11 text-gray-600 text-xl font-semibold;
  }
  .scheduleImg__style {
    @apply w-14 h-14 rounded-full border-2 border-solid border-white -ml-4 cursor-pointer transition-all duration-500 ease-out hover:scale-105 hover:-mt-1;
  }
  .filterActive__style {
    @apply text-white bg-blue-500;
  }
  .filterUnActive__style {
    @apply text-gray-500 bg-white;
  }
  .filterHover__style {
    @apply text-blue-600 bg-blue-100;
  }
}

.g {
  background-color: #d9e444;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
  border: none;
  outline: none;
  font-family: "Montserrat", sans-serif;
}

#norton-idsafe-field-logo-imgId {
  display: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

body {
  background-color: #f5f5f5;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hideScrollBar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hideScrollBar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.myScroll:hover::-webkit-scrollbar-thumb {
  background-color: #b8b8b8;
}

.myScroll::-webkit-scrollbar {
  width: 0.7rem;
}

.myScroll::-webkit-scrollbar-track {
  background-color: #fff;
}

.myScroll::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 5rem;
}

.menu__logo .circles::before {
  content: "";
  display: inline-block;
  width: 0.7rem;
  height: 0.7rem;
  border: 0.2rem solid rgb(37, 99, 235);
  border-radius: 50%;
}

.closeModule {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.openModule {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.menu__container {
  height: calc(100% - 6rem);
}
